<mat-card class="employee-card" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="profile-pic-container" fxLayout="column" fxLayoutAlign="space-around center">
    <img 
      class="profile-pic"
      mat-card-image 
      [src]="employee.profileImg">
  </div>
  <mat-card-content>
    <div class="name">{{employee.name}}</div>
    <div class="position">{{employee.position | uppercase }}</div>
    <div class="location"><mat-icon class="material-icons-outlined">location_on</mat-icon> {{employee.location}}</div>
  </mat-card-content>
  <mat-card-actions fxLayoutGap="5px">
    <button mat-mini-fab [matMenuTriggerFor]="phone">
      <mat-icon class="material-icons-outlined">phone</mat-icon>
    </button>
    <mat-menu #phone="matMenu" yPosition="above">
      <button mat-menu-item>
        <mat-icon _ngcontent-pui-c229="" role="img" fontset="fa fa-fs" class="mat-icon notranslate fa fa-google mat-icon-no-color" aria-hidden="true" ng-reflect-font-set="fa fa-fs" ng-reflect-font-icon="fa-google"></mat-icon>
        Google - Call through Google
      </button>
      <button mat-menu-item >
        <mat-icon class="material-icons-outlined">phone</mat-icon>Phone - 778-456-4352
      </button>
    </mat-menu>

    <button mat-mini-fab [matMenuTriggerFor]="mail">
      <mat-icon class="material-icons-outlined">mail_outline</mat-icon>
    </button>
    <mat-menu #mail="matMenu" yPosition="above">
      <button mat-menu-item>
      <img class="ms-icon" src="assets/icons/Outlook_40x40.svg" style="width: 50px;
        margin-right: 10px;
        margin-left: -15px;
        vertical-align: middle;">Outlook - Send email
      </button>
      <button mat-menu-item>
        <mat-icon _ngcontent-pui-c229="" role="img" fontset="fa fa-fs" class="mat-icon notranslate fa fa-google mat-icon-no-color" aria-hidden="true" ng-reflect-font-set="fa fa-fs" ng-reflect-font-icon="fa-google"></mat-icon>
        Gmail - Send email
      </button>
      <button mat-menu-item >
        <mat-icon _ngcontent-pui-c229="" role="img" fontset="fa fa-fs" class="mat-icon notranslate fa fa-yahoo mat-icon-no-color" aria-hidden="true" ng-reflect-font-set="fa fa-fs" ng-reflect-font-icon="fa-yahoo"></mat-icon>
        Yahoo - Send email
      </button>
    </mat-menu>

    <button mat-mini-fab [matMenuTriggerFor]="video">
      <mat-icon class="material-icons-outlined">videocam</mat-icon>
    </button>
    <mat-menu #video="matMenu" yPosition="above">
      <button mat-menu-item>
        <img 
          class="ms-icon" 
          src="assets/icons/Microsoft Teams_40x40.svg" 
          style="width: 50px;
          margin-right: 10px;
          margin-left: -15px;
          vertical-align: middle;">MS Teams - Meet now
      </button>
      <button mat-menu-item >
        <img 
          class="ms-icon" 
          src="assets/icons/Microsoft Teams_40x40.svg" 
          style="width: 50px;
          margin-right: 10px;
          margin-left: -15px;
          vertical-align: middle;">MS Teams - Schedule a meeting
      </button>
    </mat-menu>
    <button mat-mini-fab [matMenuTriggerFor]="dm">
      <mat-icon class="material-icons-outlined">forum</mat-icon>
    </button>
    <mat-menu #dm="matMenu" yPosition="above">
      <button mat-menu-item>
        <img 
          class="ms-icon" 
          src="assets/icons/Microsoft Teams_40x40.svg" 
          style="width: 50px;
          margin-right: 10px;
          margin-left: -15px;
          vertical-align: middle;">MS Teams - Create message
      </button>
      <button mat-menu-item >
        <mat-icon _ngcontent-pui-c229="" role="img" fontset="fa fa-fs" class="mat-icon notranslate fa fa-slack mat-icon-no-color" aria-hidden="true" ng-reflect-font-set="fa fa-fs" ng-reflect-font-icon="fa-slack"></mat-icon>
        Slack - Create message
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>