@import 'src/app/styles/colors';
@import 'src/app/styles/variables';
@import 'src/app/styles/font';

.employee-card {
  border-top: 5px solid $hubbub-primary;
  align-items: center;
  .profile-pic-container {
    width: 100%;

    .profile-pic {
      margin-top: 10px;
      width: 200px;
      height: 200px;
      object-fit:cover;
      border-radius: 50%;
      padding:3px;
      border:3px solid $gray-015;
    }
  }

  mat-card-content {
    text-align: center;

    .name {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .position {
      color: $sidebar-font-color;
    }

    .location {
      mat-icon {
        vertical-align: -9px;
      }
      margin-left: -10px;
      color: $sidebar-font-color;
    }
  }

  mat-card-actions {
    margin-bottom: 10px;

    button {
      height: 40px !important;
      width: 40px !important;
    }
  }
}