<mat-toolbar class="header">

  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon class="material-icons-outlined header__title-button-icon"  *ngIf="!isMenuOpened" >menu</mat-icon>
      <mat-icon class="material-icons-outlined header__title-button-icon"  *ngIf="isMenuOpened" >arrow_back</mat-icon>
    </button>
    <img src="assets/HubbubHrLogo.svg">
    <!-- <h6 class="header__title-text">Hubbub HR</h6> -->
  </div>

  <app-search></app-search>

  <div class="header-toolbar">
    <app-notifications></app-notifications>
    <app-email [emails]="emails$ | async"></app-email>
    <app-user [user]="user$ | async" (signOut)="signOut()"></app-user>
  </div>

</mat-toolbar>
